<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

li {
    margin-right: 50px;
    text-align: left;
    font-size: 33px;
}

a {
    text-decoration: none;
    color: rgb(255, 45, 157);
}
